extends ./layouts/default

block title
  title 行业产品-lowcode可视化社区

block style
  include ./includes/index.css

block content
  .container
    .section-module
      .title 产品推荐
      #articleList.section-list
        each val in products
          a.section-item(href=`/product/detail?fid=${val.fid}`, target='_blank')
            .imgWrap
              img(src=val.face || '/assets/default.png')
            .info
              .title #{val.title}
              .desc #{val.desc}
      .controls
        .btn.pri-bg-color.js_about_btn 加载更多  
  script. 
    var curPage = 1;
    var s = 6;
    $('.js_about_btn').click(function(){
      fetch('/api/v0/products/all/public?s=' + s + '&p=' + (curPage + 1), {
            method: 'GET',
            cache: 'no-cache',
          }).then(res => res.json()).then(res => {
            var data = res.result;
            if(data.length) {
              var str = '';
              for(var i=0; i < data.length; i++) {
                str += "<a href='/best-practice/detail?fid=" + 
                      data[i].fid + "' class='section-item' target='_blank'>" + 
                      "<div class='imgWrap'><img src=" + (data[i].face || '/assets/default.png') + 
                      " /></div>" + "<div class='info'><div class='title'>" + data[i].title +
                      "</div><div class='desc'>" + data[i].desc + "</div></div>"
                      "</a>";
              }
              $('#articleList').append(str)
              if(data.length < 6) {
                $(this).hide()
                return
              }
              curPage++
            }
          })
    })
    
